 @model DoctorsAppointment.Models.Admin 

 <h1>adminSignup</h1> 
 <h4>Admin</h4> 
 <hr /> 
 <form action="/Admin/signUpSave" method="post"> 
     <label>Name</label> 
     <input type="text" name="Name" id="Name" class="form-check form-control"> 
     <br /> 
     <label>Email</label> 
     <input type="text" name="Email" id="Email" class="form-check form-control"> 
     <br /> 
     <label>Password</label> 
     <input type="text" name="Password" id="Password" class="form-check form-control"> 
     <br /> 
     <label>PhoneNumber</label> 
     <input type="text" name="PhoneNumber" id="PhoneNumber" class="form-check form-control"> 
     <br />
     <input type="submit" value="create new Admin" class="btn btn-success" /> 
 </form> 

