
 <h1>adminLogin</h1> 

 <form action="/Admin/adminLogin" method="post"> 

     <label>Email</label> 
     <input type="text" name="Email" id="Email" class="form-check form-control"> 
     <br /> 
     <label>Password</label> 
     <input type="text" name="Password" id="Password" class="form-check form-control"> 
     <br />

     <a href="/Admin/forgetPassword" class="btn btn-primary btn-block mb-2">Forget password</a>
     <input type="submit" value="Login" class="btn btn-success" /> 

 </form> 