
<h1>forgetPassword</h1>

<form action="/Admin/forgetpasswordconfirm" method="post"> 

     <label>Email</label> 
     <input type="text" name="Email" id="Email" class="form-check form-control"> 
     <br /> 
     <input type="submit" value="check data" class="btn btn-success" /> 

 </form> 
    