@model Admin
<h1>
    enter your new password
</h1>
<hr/>

<form action="/Admin/saveModifiedPassword" method="post">
    <input type="hidden" name="AdminId" value="@Model.AdminId" />
    <label for="Password">Password</label>
    <input type="Password" name="Password" id="Password" class="form-check form-control">
    <br />
    <input type="submit" value="set new password" class="btn btn-success" />

</form> 