
<h1>Doctor Login</h1>
<form action="/Doctor/doctorLogin" method="post">
    <label>Email</label>
    <input type="text" name="Email" id="Email" class="form-check form-control">
    <br />
    <label>Password</label>
    <input type="text" name="Password" id="Password" class="form-check form-control">
    <br />

    <a href="/Doctor/forgetPassword" class="btn btn-primary btn-block mb-2">Forget password</a>
    <input type="submit" value="Login" class="btn btn-success" />

</form> 