
<h1>forget Password Doctor</h1>

<form action="/Doctor/forgetpasswordconfirm" method="post">

    <label>Email</label>
    <input type="text" name="Email" id="Email" class="form-check form-control">
    <br />
    <input type="submit" value="check data" class="btn btn-success" />

</form>
